.primeiraSessaoInicio {
  height: 75vh;
  background-image: url("../../assets/bgInicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 6%;

  h2 {
    color: #fff;
    font-size: 32px;
    width: 25%;
  }
}

.segundaSessaoInicio {
  font-size: 40px;
  color: #005695;
  padding: 87px 94px;

  .caixas {
    background-color: #0157944d;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #000;
  }
}
