.primeiraSessaoInicio {
  height: 75vh;
  width: 100%;
  background-image: url("../../assets/bgInicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 6%;

  h2 {
    color: #fff;
    font-size: 32px;
    width: 25%;
  }
}

.porqueDoarInicio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;

  h2 {
    width: 90%;
    color: #005695;
    font-size: 40px;
  }
}

.cards {
  display: flex;
  height: 50vh;
  justify-content: space-evenly;

  div {
    width: 20%;
    background-color: #0157944d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

    p {
      font-size: 22px;
      text-align: center;
      width: 95%;
      color: #000;
    }
  }
}

@media (max-width: 780px) {
  .primeiraSessaoInicio {
    background-position: center;
    height: 50vh;

    h2 {
      width: 90%;
      font-size: 28px;
      text-align: center;
    }
  }
  .porqueDoarInicio {
    height: 120vh;

    h2 {
      font-size: 30px;
      text-align: center;
    }
  }
  .cards {
    height: 120vh;
    flex-direction: column;
    align-items: center;

    div {
      width: 70%;
      height: 25vh;

      p {
        font-size: 18px;
      }
      img {
        width: 15%;
      }
    }
  }
}
