header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  height: 20vh;
  padding: 0 20px;
}

.logoHeader {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    height: 62px;
    padding-bottom: 10px;
  }

  h1 {
    color: #fff;
    font-size: 30px;
  }
}

.navHeader {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .link {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;

    &:hover {
      color: aqua;
    }
  }
}

.barraDeBusca {
  border: solid #fff;
  height: 52px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  position: relative;
  padding: 0 35px;

  input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    width: 204px;

    &::placeholder {
      color: #fff;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 12px;

    img {
      width: 16px;
    }
  }
}
