.contactsFooter {
  background-color: #005695;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
  }
}

.copyright {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232020;
  color: #fff;
}

@media (max-width: 780px) {
  .contactsFooter {
    flex-direction: column;

    nav {
      width: 60%;
    }
  }
  .copyright {
    font-size: 12px;

    p {
      width: 60%;
      text-align: center;
    }
  }
}
