.contactsFooter {
  background-color: #005695;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
  }
}

.copyright {
  background-color: #232020;
  text-align: center;
  padding: 20px;
}

p {
  color: #fff;
  font-size: 15px;
}
