.donatePage {
  padding: 29px 128px;
  margin-bottom: 369px;

  h2 {
    font-size: 32px;
    text-align: center;
  }
}

.donateBook {
  border: solid #005695;
  border-radius: 20px;
  height: 27vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  img {
    padding: 26px 68px;
  }

  p {
    color: #000;
    font-size: 16px;
  }
}
